// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------
.main-head {
  grid-area: header;
  position: fixed;
  width: 100%;
  padding: 20px 20px;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  max-width: 100%;
  padding: 20px 0px;
}
.main-nav {
  padding: 20px 0px;
}
nav ul {
  display: flex;
}
nav ul li {
  display: inline;
  list-style: none;
  padding: 20px;
  color: #ffffff;
}
.non-mobile-header {
  display: grid;
}
.mobile-header {
  display: none !important;
}
//hamburger

.mobile-header #mobile-menu {
  display: none;
}

.mobile-header a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.mobile-header a.icon {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 3px;
  background-color: #000000;
  margin: 5px 0;
  transition: 0.4s;
}
.active {
  background-color: $brand-color;
  color: white;
}

.active .main-head {
  background-color: $brand-secondary-color;
}
@media (max-width: 1024px) {
  .main-head {
    padding: 20px 0px;
  }
  .non-mobile-header {
    display: none !important;
  }
  .mobile-header {
    display: block !important;
  }
  #mobile-menu {
    width: 100%;
    background-color: $brand-secondary-color;
  }
  .main-nav {
    background-color: $brand-secondary-color;
    padding: 40px 0px;
  }
  nav ul {
    display: block;
  }
  .logo {
    max-width: 70%;
    padding: 10px 20px;
  }
}
