// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button {
  &,
  &:link,
  &:visited {
    border-radius: 5px;
    text-align: center;
    padding: 20px 60px;
    cursor: pointer;
  }
  &--black {
    background: $brand-secondary-color;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    padding: 20px 60px;
    cursor: pointer;
  }
  &--black:hover {
    background: $dark-grey;
    border-radius: 5px;
    text-align: center;
    padding: 20px 60px;
    cursor: pointer;
  }
  &--green {
    background: $brand-color;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    padding: 20px 60px;
    cursor: pointer;
  }
  &--green:hover {
    background: $brand-secondary-color;
  }
  &--transparent {
    background: transparent;
    color: #000000;
    border-radius: 5px;
    border: 1px solid #000000;
    text-align: center;
    padding: 20px 60px;
    cursor: pointer;
  }
  &--transparent:hover {
    background: $brand-secondary-color;
    color: white;
  }
}

@media (max-width: 768px) {
  .button {
    &,
    &:link,
    &:visited {
      padding: 20px 20px;
    }

    &--black {
      padding: 20px 20px;
    }
    &--black:hover {
      padding: 20px 20px;
    }

    &--green {
      padding: 20px 20px;
    }
    &--green:hover {
      padding: 20px 20px;
    }

    &--transparent {
      padding: 20px 20px;
    }
    &--transparaent:hover {
      padding: 20px 20px;
    }
  }
}
