// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.button {
  &,
  &:link,
  &:visited {
    border-radius: 5px;
    text-align: center;
    padding: 20px 0px;
    cursor: pointer;
  }
  &-black {
    background: $dark-grey;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    padding: 20px 0px;
    cursor: pointer;
  }
  &-black:hover {
    background: $brand-secondary-color;
    border-radius: 5px;
    text-align: center;
    padding: 20px 0px;
    cursor: pointer;
  }
  &-green {
    background: $brand-color;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    padding: 20px 0px;
    cursor: pointer;
  }
  &-green:hover {
    background: $brand-secondary-color;
  }
  &-transparent {
    background: transparent;
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
    padding: 20px 0px;
    cursor: pointer;
  }
  &-transparent:hover {
    background: $brand-secondary-color;
  }
}
