// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------
.col-1-2 {
  width: 50%;
  float: left;
  padding: 10px 10px 0 0px;
}
.col-2-2 {
  width: 50%;
  float: right;
  padding: 10px 0px 0 10px;
}
.align-right {
  display: inline;
}
